In [14]:
print("hello world")

hello world

In [15]:
age =100 
if age > 18:
    print("you are an adult")
else:
    print('you are a minor')

you are an adult

In [16]:
print(1+1+3%2*10/2)

7.0

In [17]:
name = "John"
age = 1
sleeped = False
height = 5.11

In [18]:
print(type(age))
print(type(name))
print(type(sleeped))
print(type(height))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [19]:
age = "19"
print(type(age))
age = int(age)
print(type(age))

<class 'str'>
<class 'int'>

In [20]:
# basic calculator
num1 = int(input("enter the first number: "))
num2 = int(input("enter the second number: "))
sum = num1 + num2
div = num1 / num2
mul = num1 * num2
sub = num1 - num2
print(f"sum of {num1} and {num2} is {sum}")
print(f"difference of {num1} and {num2} is {sub}")
print(f"product of {num1} and {num2} is {mul}")
print(f"quotient of {num1} and {num2} is {div}")

sum of 21 and 2 is 23
difference of 21 and 2 is 19
product of 21 and 2 is 42
quotient of 21 and 2 is 10.5

# Basic data types
## String
## Boolean
## Integer
## Floats

In [21]:
string = "hello world"
boolean = True
integer = 10
float = 10.5

In [22]:
print(string.upper())

HELLO WORLD

# Python: `as_integer_ratio()`

In Python, the method **`x.as_integer_ratio()`** is available for `float`.  
It returns a tuple of two integers `(numerator, denominator)` such that:

\[
x = \frac{numerator}{denominator}
\]

---

## Example 1
```python
x = 0.75
print(x.as_integer_ratio())

In [23]:
x = 0.75
print(x.as_integer_ratio())

(3, 4)

# Python: `Operators`
## Type of operators 
[ Arithematic
Logical
Comparison ]

In [24]:
## +
## -
## /
## //
## %

In [29]:
## Comparison Operators 

gene_1 = "ATTTGGACA"
gene_2 = "ATTTGGACA"

print(gene_1 == gene_2)

True

In [32]:
## Logical Operators 

## and
## or 
## not


x = False
y = True

x and y

False

In [35]:
x = False
y = True
x or y

True

In [36]:
x = True 
not x

False

In [42]:
## 1- For Loop

age = [12,21,14,15,31,21,22,22,24]

for i in age:
    if i%2==0:
        print(i, end=' ')

12 14 22 22 24

In [43]:
for i in range(10):
    if i == 7:
        break 
    print(i)

0
1
2
3
4
5
6

# Python: `File handling`

In [45]:
with open('example.txt', 'r') as file:
    content = file.read()

print(content)

hello